*-log-*
*.bz2
*.log
*.sqlite
*.sample
*.hostname
*.pyc
*.core
*egg*/
build/
dist/
slave/
*/*/*/master/*
!*/*/*/master/master.cfg
!*/*/*/master/buildbot.tac
*/*/master/*
!*/*/master/master.cfg
!*/*/master/buildbot.tac
